body {
  font-family: 'Kreon', serif;
   background-color: #398c4a;
   line-height: 1.5;'
}

img {
  max-width:100%;
  margin:auto;
  display: block;

}

h1 {
  font-family: 'Kreon', serif;
  color: #16366b;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-family: 'Kreon', serif;
  border-style: dashed;
  padding: 10px;
  margin: 20px;
  font-family: 'Kreon', serif;
  font-size: 23px;
  line-height: 2.5;
}

p {
 font-size: 21px
}

li {
  font-size: 23px
}
